{% extends "base.html" %}
{% block title%}All students{% endblock %}
{% block content %}
<h2 align="center">Course</h2>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('students.other_course', course=1) }}">1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('students.other_course', course=2) }}">2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('students.other_course', course=3) }}">3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('students.other_course', course=4) }}" >4</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('students.other_course', course=5) }}" >5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('students.all')}}" >All</a>
  </li>
</ul>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Course</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for item in all %}
    <tr>
      <form method="post">
        <td>{{ item.fname }}</td>
      <td>{{ item.lname }}</td>
      <td>{{ item.course }}</td>
        <td>{{ item.email }}</td>

      <td>
        <button name="id" value="{{item._id}}">Delete</button>
      </td>
      </form>
    </tr>
    <tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
