{% extends "base.html" %}
{% block title%}Add article{% endblock %}
{% block content %}
<form method="post">
    <div style="text-align: center">

    <div style="width: 50%; margin: 0 auto; text-align: left" class="form-group">
        <label>Title</label>
        <input class="form-control"  name="title">
    </div>

    <div style="width: 50%; margin: 0 auto; text-align: left" class="form-group">
        <label>Article</label>
        <textarea name="article" class="form-control" rows="5"></textarea>
    </div>
        <p></p>
        <div style="width: 50%; margin: 0 auto; text-align: right">
             <input type="submit" value="Add" class="btn btn-secondary btn-lg btn-block">
        </div>

    </div>

</form>
{% endblock %}